<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <title>Moj Tytul</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "rest.css" %}?{% now "U" %}" type="text/css"/>

    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/polandHigh.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


    <script type="text/javascript" src="rest.js"></script>
</head>

<body onload="init()">
<div id="container">

    <div id="content">

        <div id="wyniki_kandydatow">

            <div id="wyniki">
                <table id="tabela_wyniki_kandydatow">
{#                    TUTAJ MUSI UZUPEŁNIAC JAVASCRIPT #}
                </table>
            </div>
            <div id="pole_wykresu">
                <div id="wykresKolumnowy" style="height: 900px"></div>
            </div>
        </div>
    </div>
    <div id="statystyki_i_frekfencja" style="height:360px">
        <table id="statystyki_tabela">
{#            TUTAJ MUSI UZUPEŁNIAC JAVASCRIPT#}
        </table>
    </div>
    {% if typ_statystyk != "" %}
        <div id="wyniki_kandydatow">
            <table id="tabela_wyniki">
{#                TUTAJ MUSI UZUPEŁNIAC JAVASCRIPT #}
            </table>
        </div>
    {% endif %}

    <div id="footer">
        <div></div>
        <div>
            <img src="{% static "img/logo_pkw_footer.png" %}" class="img-responsive" alt="footer"/>
        </div>
        <div>
            Copyright © 2017
        </div>
        <div>
            Państwowa Komisja Wyborcza, ul. Wiejska 10, 00-902 Warszawa, Tel. 22 695 25 44, Fax. 22 622 35
            71<br/><br/><a href="../www.pkw.gov.pl/index.html" target="_blank">www.pkw.gov.pl</a>
        </div>
        <div>
            wykonanie: Michał Radecki
        </div>
        <div></div>
    </div>
</div>

</body>

