{% load static %}

<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <title>Moj Tytul</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}" type="text/css"/>

    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/polandHigh.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <script type="text/javascript">
        {% include "wyniki/wykresKolumnowy.js" %}
    </script>
</head>

<body>

<div id="container">
    {% include "wyniki/logoAndNavigation.html" %}

    <div id="content">

        <div id="wyniki_kandydatow">

            <div id="wyniki">
                <table id="tabela_wyniki_kandydatow">
                    <tr class="wiersz_glowny">
                        <td class="kol1">Kandydat</td>
                        <td class="kol2">Liczba głosów oddanych na kandydata</td>
                        <td class="kol2">Procentowa liczba głosów</td>
                    </tr>
                    {% if typ_statystyk == "" %}
                        <tr class="wiersz2">
                            <td colspan = 3>
                                <a href="{% url 'edit' wojewodztwo=wyniki_szczegolowe.0 okreg=wyniki_szczegolowe.1 powiat=wyniki_szczegolowe.2 gmina=wyniki_szczegolowe.3 %}">EDYTUJ</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% for x in dane %}
                        <tr class="wiersz1">
                            <td class="kol1">{{ x.parzyste.kandydat }}</td>
                            <td class="kol2">{{ x.parzyste.glosy }}</td>
                            <td class="kol2">{{ x.parzyste.procent }}%</td>
                        </tr>
                        <tr class="wiersz2">
                            <td class="kol1">{{ x.nieparzyste.kandydat }}</td>
                            <td class="kol2">{{ x.nieparzyste.glosy }}</td>
                            <td class="kol2">{{ x.nieparzyste.procent }}%</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="pole_wykresu">
                <div id="wykresKolumnowy" style="height: 900px"></div>
            </div>
        </div>
    </div>
    <div id="statystyki_i_frekfencja" style="height:360px">
        <table id="statystyki_tabela">
            <tr class="wiersz1">
                <td class="kol1">Liczba uprawnionych do glosowania</td>
                <td class="kol2">{{ statystyki_obszaru.uprawnionych }}</td>
            </tr>
            <tr class="wiersz2">
                <td class="kol1">Liczba wydanych kart do glosowania</td>
                <td class="kol2">{{ statystyki_obszaru.wydanych_kart }}</td>
            </tr>
            <tr class="wiersz1">
                <td class="kol1">Liczba kart wyjetych z urny</td>
                <td class="kol2">{{ statystyki_obszaru.wyjetych_kart }}</td>
            </tr>
            <tr class="wiersz2">
                <td class="kol1">Liczba ważnych głosow</td>
                <td class="kol2">{{ statystyki_obszaru.waznych_glosow }}</td>
            </tr>
            <tr class="wiersz1">
                <td class="kol1">Liczba niewaznych glosow</td>
                <td class="kol2">{{ statystyki_obszaru.niewaznych_glosow }}</td>
            </tr>
            <tr class="wiersz2">
                <td class="kol1">Frekwencja</td>
                <td class="kol2">{{ frekwencja }}%</td>
            </tr>
        </table>
    </div>
    {% if typ_statystyk != "" %}
        <div id="wyniki_kandydatow">
            <table id="tabela_wyniki">
                <tr class="wiersz2">
                    <td>{{ typ_statystyk }}</td>
                    <td>Liczba uprawnionych do głosowania</td>
                    <td>Liczba wydanych kart do glosowania</td>
                    <td>Liczba kart wyjetych z urny</td>
                    <td>Liczba ważnych glosow</td>
                    <td>Liczba niewaznych glosow</td>
                    <td>Frekfencja</td>
                </tr>
                {% for wynik in wyniki_szczegolowe %}
                    {% if forloop.counter|divisibleby:2 %}
                        <tr class="wiersz2">
                    {% else %}
                        <tr class="wiersz1">
                    {% endif %}
                {% if typ_statystyk == 'wojewodztwo' %}
                    <td><a href="{% url 'woj' wojewodztwo=wynik.szczegoly.wojewodztwo %}">
                        {{ wynik.szczegoly.wojewodztwo }}</a>
                    </td>
                {% elif typ_statystyk == "okreg" %}
                    <td><a href="{% url 'okr' wojewodztwo=wynik.szczegoly.wojewodztwo okreg=wynik.szczegoly.okreg %}">
                        {{ wynik.szczegoly.okreg }}</a>
                    </td>
                {% elif typ_statystyk == "powiat" %}
                    <td><a href="{% url 'pow' wojewodztwo=wynik.szczegoly.wojewodztwo okreg=wynik.szczegoly.okreg powiat=wynik.powiat_z_podkreslnikiem %}">
                        {{ wynik.szczegoly.powiat }}</a>
                    </td>
                {% elif typ_statystyk == "gmina" %}
                    <td><a href="{% url 'gmi' wojewodztwo=wynik.szczegoly.wojewodztwo okreg=wynik.szczegoly.okreg powiat=wynik.powiat_z_podkreslnikiem gmina=wynik.gmina_z_podkreslnikiem %}">
                        {{ wynik.szczegoly.gmina }}</a>
                    </td>
                {% endif %}
                <td>{{ wynik.szczegoly.uprawnionych }}</td>
                <td>{{ wynik.szczegoly.wydanych_kart }}</td>
                <td>{{ wynik.szczegoly.wyjetych_kart }}</td>
                <td>{{ wynik.szczegoly.waznych_glosow }}</td>
                <td>{{ wynik.szczegoly.niewaznych_glosow }}</td>
                <td>{{ wynik.frekwencja }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div id="footer">
        <div></div>
        <div>
            <img src="{% static "img/logo_pkw_footer.png" %}" class="img-responsive" alt="footer"/>
        </div>
        <div>
            Copyright © 2017
        </div>
        <div>
            Państwowa Komisja Wyborcza, ul. Wiejska 10, 00-902 Warszawa, Tel. 22 695 25 44, Fax. 22 622 35
            71<br/><br/><a href="../www.pkw.gov.pl/index.html" target="_blank">www.pkw.gov.pl</a>
        </div>
        <div>
            wykonanie: Michał Radecki
        </div>
        <div></div>
    </div>
</div>

</body>

